/*body{*/

background: url('assets/img/background.png')no-repeat;
background-size: 100%



}

.close{

	color: #ff0000;
	opacity: 1;
	line-height: 2;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

}

.panel-default .panel-heading{
color: white;
background: #262727;
}








.panel-default .panel-footer{

background:#f0eff0;
}

fixed-nav-bar{

	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 70px;
	background-color: black;
}
.navbar .ul{
	float: left;
}
.h2{

	font-style: italic;
}
/*.btn-default {*/
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

/*.btn-default:hover {*/
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  }

  .panel-default{

  	backface-visibility: transparent;
  	background-color: transparent;
  	background-blend-mode: inherit; 

  }









    







        