
@media (max-width: 768px) {
	
}

h2{
text-align: center;


}
h6{

	color: #000377;
}
body{

background: url('assets/img/background.png');
background-size: 100%


}


  .container {
    width: 750px;
  }


  .container {
    width: 970px;
  }

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

 /*body{*/
          margin-top:65px;
          


            
            
        }

    












